<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hm.znpd.scdgj-sx2001.mapper.ServeSupplierMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, people, phone, address, area, serve_type, qualification, business, create_time, image, typical_unit_projects, charging_standard
    </sql>

</mapper>
