<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hm.znpd.scdgj-sx2001.mapper.SvgToolSwitchLogMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, station_id, device_id, device_text, user_id, user_text, create_time, oper_log, oper_log_text, current_value, oper_token, current_value_text, property_key, type, alarmId, remark, state, pub_text, rec_text, update_time, device_mac, device_addr
    </sql>

</mapper>
